body {
    background-color: rgb(80, 80, 80);
    color: white;
    font: normal 18pt Arial;
}

input {
    font: normal 20pt Arial;
}

div.arit {
    font-size: 45px;
}

div.resultado {
    margin-top: 17px;
}

p {
    color: rgb(80, 80, 80);
    background-color: rgb(250, 216, 45);
}